<ion-header>

  <ion-navbar>
    <ion-title>{{group.Name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateGroup()" *ngIf="editEnableGroup">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="editGroup()" *ngIf="isGroupOwner">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goHomePage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
<ion-list>
   <ion-item>
    <ion-label color="primary" stacked>Id</ion-label>
    <ion-input class="groupElement" [(ngModel)]="group.Id" 
                placeholder="Name" [disabled]="!editEnableGroup"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" stacked>Name</ion-label>
    <ion-input class="groupElement" [(ngModel)]="group.Name" 
                placeholder="Name" [disabled]="!editEnableGroup"></ion-input>
  </ion-item>
  <button ion-button [disabled]="!editEnableGroup" (click)="addPeopleView(group)">Add people</button>
      <ion-item class="item item-block" *ngFor="let person of people" (click)="goToThePerson($event,person)" >
      <p>{{person.Name}}</p>
    </ion-item>
</ion-list>
</ion-content>
