<ion-header>
  <ion-navbar>
    <ion-title>{{meeting.Name}}</ion-title>
    <ion-buttons end>
      <button (click)="updateMeeting()" *ngIf="editEnableMeeting">
        <ion-icon name="create"></ion-icon>
      </button>
      <button (click)="editMeeting()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button (click)="goHomePage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Name</ion-label>
      <ion-input [(ngModel)]="meeting.Name" 
                placeholder="Name" [disabled]="!editEnableMeeting">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Id</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" [(ngModel)]="meeting.Date" 
                placeholder="Date" [disabled]="!editEnableMeeting">
      </ion-datetime>
    </ion-item>
    <ion-item>
    <sebm-google-map [latitude]="marker.lat" [longitude]="marker.lng"
    (mapClick)="mapClicked($event)">
      <sebm-google-map-marker [latitude]="marker.lat" [longitude]="marker.lng"
      [markerDraggable]="editEnableMeeting" (dragEnd)="markerDragEnd(marker, $event)"      >
      </sebm-google-map-marker>
    </sebm-google-map>
    </ion-item>
  </ion-list>

  <ion-list>
    <h2>Groups invited</h2>
    <h4>Groups</h4>
    <button ion-button [disabled]="!editEnableMeeting" (click)="addGroupsView(meeting)">Add Groups</button>
    <ion-item class="item item-block" *ngFor="let group of groups" (click)="goToTheGroup($event,group)" >
      <p>{{group.Name}}</p>
    </ion-item>
  </ion-list>
</ion-content>
