<ion-header>
  <ion-navbar>
    <ion-title>{{meeting.Name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="updateMeeting()" *ngIf="editEnableMeeting">
        <ion-icon name="arrow-dropup-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="editMeeting()" >
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goHomePage()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Name</ion-label>
      <ion-input [(ngModel)]="meeting.Name" 
                placeholder="Name" [disabled]="!editEnableMeeting">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Id</ion-label>
      <ion-datetime displayFormat="DD.MM.YYYY, HH:mm" [(ngModel)]="meeting.Date" 
                placeholder="Date" [disabled]="!editEnableMeeting">
      </ion-datetime>
    </ion-item>
    <ion-item>
    </ion-item>
  </ion-list>

  <ion-list>
    <h2>Groups invited</h2>
    <h4>Groups</h4>
    <button ion-button [disabled]="!editEnableMeeting" (click)="addGroupsView(meeting)">Add Groups</button>
    <ion-item class="item item-block" *ngFor="let group of groups" (click)="goToTheGroup($event,group)" >
      <p>{{group.Name}}</p>
    </ion-item>
  </ion-list>
</ion-content>
