page-spontaneous {
  #map {
    width: 100%;
    height: 300px;
  }
  .activePerson{
    position: absolute;    
    width: 40px;
    height: 20px;
    background: blue;

    .personImage{
      width: 20px;
      height: 20px;
    }

    .personIcon{
      width: 20px;
      height: 20px;
    }
  }
}



